<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<swiper-container></swiper-container>
  <swiper-container pagination="true" lines="none">
    <swiper-slide *ngFor="let slide of slides">
      <ion-card style="padding:10px;margin-top:30px;">
        <ion-card-title>
            <img [src]="slide.image" class="slide-image"/>
        </ion-card-title>
        <ion-card-header ><ion-title [innerHTML]="slide.title"></ion-title></ion-card-header>
        <ion-card-content [innerHTML]="slide.description"></ion-card-content>
      </ion-card>
    </swiper-slide>

    <swiper-slide >
      <ion-card style="padding:10px;margin-top:30px;">
        <ion-card-title>
            <img src="assets/icon/enter1.png" class="slide-image"/>
        </ion-card-title>
        <ion-card-header>
          <ion-title><h2>Ready to Go?</h2></ion-title>
        </ion-card-header>
        <ion-card-content (click)="goToHome()" routerLinkActive="selected">
          <ion-item lines="none" style="margin-left:20%; font-weight:bolder;font-size:larger">
            <ion-text color="success">Continue</ion-text>
            <ion-icon name="chevron-forward" color="success" ></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

</ion-content>


