<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="none">
    <h2>Need Help?</h2>
  </ion-item>
  <ul>
    <li>For FAQs about our Regional Screening Levels please go <a href="https://www.epa.gov/risk/regional-screening-levels-frequent-questions">Here</a>.</li>
    <br/>
    <li>For specific questions or concerns please go <a href="https://www.epa.gov/risk/regional-screening-levels-frequent-questions">Here</a>.</li>
    <br/>
    <li>For FAQs about our Regional Removal Management Levels please go <a href="https://www.epa.gov/risk/regional-removal-management-levels-rmls-frequently-asked-questions">Here</a>.</li>
    <br/>
    <li>For specific questions or concerns please go <a href="https://www.epa.gov/risk/forms/regional-screening-levels-rsls-contact-us">Here</a>.</li>
    <br/>
    <li>For app specific questions, or bug reporting, please contact <a href="mailto:RSLRMLapp@epa.gov">RML/RSL Support Team</a></li>
  </ul>


</ion-content>


