<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-list>
    <ion-item detail="false" *ngFor="let itm of chmSrv.params.favorites let i = index"
    (click)="chmSrv.goToSrchResults(itm)"
    >
      <!--
      <ion-icon size="large" color="primary"
        [name]="item[0] !==0 ? 'checkmark-circle' : 'radio-button-off'"
        (click)="chmSrv.toggleItem(item)"
      ></ion-icon>
      -->
      <ion-label style="margin-left:10px;"> {{ itm[1][0] }} ({{ itm[1][1] }}) </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
